<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Request</title>
    <link rel="stylesheet" href="./style/secrets.css">
</head>

<body>
    <div>
    <h1>Make Request</h1>
    <h2>Your User ID : <%=id%></h2>
    <li><a href="/donorreq">donorreq</a></li>
    <li><a href="/print/<%=id%>"><button>Get Print</button></a></li>
</div>
    <table>
        <thead>
            <tr>
                <th>Blood Group</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% inventory.forEach(blood => { %>
                <tr>
                    <td><%= blood.bloodgroup %></td>
                    <td><%= blood.quantity %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <h3>Make Request</h3>
    <form action="/your-form-handler" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required>

        <label for="bloodgroup">Blood Group:</label>
        <select name="bloodgroup" id="bloodgroup" required>
            <% bloodGroups.forEach(group => { %>
                <option value="<%= group.bloodgroup %>"><%= group.bloodgroup %></option>
            <% }) %>
        </select>

        <label for="quantity">Quantity (Packets):</label>
        <input type="number" id="quantity" name="quantity" required>

        <label for="donationDate">Order Date:</label>
        <input type="date" id="donationDate" name="donationDate" required>

        <!-- <label for="userid" type="hidden">userid:</label> -->
        <select name="userid" id="userid" hidden>
            <option value="<%=id%>"><%=id%></option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
<!-- <input type="number" id="userid" name="userid" value="<%= id %>" required> -->

</html>
